@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    padding-top: 110px;
  }

  html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
    padding-top: 110px;
  }

  html {
    scroll-behavior: smooth;
  }

  html {
    overflow-x: hidden;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 228 28% 20%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --primary: 259 93% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 216 12% 84%;
    --ring: 259 93% 38%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --text-bolder: 221 23% 14%;
    --text-subtle: 224 9% 40%;
    --text-subtler: 218 11% 65%;
  }

  .dark {
    --background: 209 100% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: var(--background);
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 63.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --text-bolder: 210 20% 100%;
    --text-subtle: 224 9% 60%;
    --text-subtler: 218 11% 75%;
  }

  src-card-list {
    --src-color-gray-lowest: hsl(var(--border));
    --src-accessibility-outline: 1px solid hsl(var(--ring));
    --src-radio-item-icon-border-color-checked: hsl(var(--primary));
  }

  src-consent {
    --src-color-background: hsl(var(--background));
    --src-checkbox-label-font-size: 0.2rem;
    --src-checkbox-width: 2px;
  }

  src-mark {
    --src-section-border-width: 0;
  }

  src-learn-more {
    --src-color-background: transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.MoneyHashElement.MoneyHashElement--focus {
  @apply border-ring ring-2 ring-ring/20;
}

.MoneyHashElement.MoneyHashElement--error {
  @apply border-red-500 ring-2 ring-red-500/20;
}
@supports not (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button {
    display: inline-block;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px;
  }
  .apple-pay-button-black {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
  }
  .apple-pay-button-white {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
  }
  .apple-pay-button-white-with-line {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
    border: 0.5px solid black;
  }
}

apple-pay-button {
  --apple-pay-button-width: 140px;
  --apple-pay-button-height: 30px;
  --apple-pay-button-border-radius: 5px;
  --apple-pay-button-padding: 5px 0px;
}

.src-mark-container {
  margin-left: -62px;
}
